/******************************************************************************
 * Content
 ******************************************************************************/

// Progress Bar

progress {
  // Positioning
  position: fixed;
  left: 0;
  top: 56px;
  z-index: 10;

  // Dimensions
  width: 100%;
  height: 3px;
}

.progress-container {
  display: block;
  position: fixed;
  left: 0;
  top: 56px;
  width: 100%;
  height: 3px;
}

.progress-bar {
  display: block;
  width: 0%;
  height: inherit;
}

body {
  padding-bottom: 70px;
  color: var(--global-text-color);
  background-color: var(--global-bg-color);

  h1, h2, h3, h4, h5, h6 {
    scroll-margin-top: 66px;
    // font-weight: 600;
  }
}

body.fixed-top-nav {
  // Add some padding for the nav-bar.
  padding-top: 56px;
}

body.sticky-bottom-footer {
  // Remove padding below footer.
  padding-bottom: 0;
}

.container {
  max-width: $max-content-width;
}

// Profile
.profile {
  img {
    width: 100%;
  }
}

// TODO: redefine content layout.


/******************************************************************************
 * Publications
 ******************************************************************************/

// TODO: redefine publications layout.


/*****************************************************************************
* Projects
*****************************************************************************/

// TODO: redefine projects layout.

.justify {
  text-align: justify;
}
